<div class="list">
  <p>
    <span class="title"><%= list.title %></span>
    <%= link_to content_tag('span', '', class: 'fa fa-folder-open'), list_tasks_path(list), class: 'action edit' %>
    <%= link_to content_tag('span', '', class: 'fa fa-edit'), edit_list_path(list), class: 'action edit' %>
    <%= link_to content_tag('span', '', class: 'fa fa-trash'), list, method: :delete, class: 'action edit' %>
  </p>
</div>