<div class="col-md-12">
  <h1>ToDo List</h1>

  <div class="buffer-top"><%= link_to "New List", new_list_path, class: 'btn btn-primary' %></div>
  <% if user_signed_in? %>
    <div class="buffer-top">
      <% @lists.each do |list| %>
        <%= render partial: 'list', object: list %>
      <% end %>
    </div>
  <% end %>
</div>