<div class="task completed_<%= task.completed %>">
  <p>
    <span class="title"><%= task.title %></span>
    <%= link_to content_tag('span', '', class: 'fa fa-check-square-o'), complete_list_task_path(list, task), data:{method: :put}, class: 'action edit done' %>
    <%= link_to content_tag('span', '', class: 'fa fa-edit'), edit_list_task_path(list, task), class: 'action edit' %>
    <%= link_to content_tag('span', '', class: 'fa fa-trash'), list_task_path(list, task), method: :delete, class: 'action edit' %>
  </p>
</div>