<div class="col-md-12">
  <h2>Edit Task</h2>
</div>

<div class="col-md-6">
  <%= simple_form_for task, url: list_task_path(list, task), method: :put do |f| %>
    <p><%= f.input :title %></p>
    <p><%= f.input :completed %></p>
    <p><%= f.button :submit %></p>
  <% end %>

</div>