<div class="col-md-12">
  <h2>List: <%= list. title %></h2>

  <div class="buffer-top"><%= link_to "New Task", new_list_task_path(list), class: 'btn btn-primary' %>
  <%= link_to "Back to Lists", lists_path, class: 'btn btn-primary' %></div>

  <div class="buffer-top">
    <% tasks.each do |task| %>
      <%= render partial: 'task', object: task %>
    <% end %>
  </div>

</div>
