<div class="col-md-12">
  <h2>New Task</h2>
</div>  

<div class="col-md-6">
  <%= simple_form_for task, url: list_tasks_path(list), method: :post do |f| %>
    <p><%= f.input :title %></p>
    <p><%= f.input :completed %></p>
    <p><%= f.button :submit %></p>
  <% end %>
</div>